{
  "net_name": "CDSSM_fulltext_click_validextend",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/cdssm.weights",
      "num_epochs": 20000,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus_train": "../data/fulltext/click_train/train_qid_1w.txt",
        "text2_corpus_train": "../data/fulltext/click_train/fulltext_1100w_filter_filter_final_train_1w.txt",
        "text1_corpus_test":  "../data/fulltext/real_valid_extend/valid_qid_1_100.txt",
        "text2_corpus_test":  "../data/fulltext/real_valid_extend/valid_fulltext_seg_filter_extend.txt",
        "use_dpool": true,
        "embed_size": 200,
        "train_embed": true,
        "embed_path": "../data/support/embed_query_200.txt",
        "text1_maxlen": 10,
        "text2_maxlen": 1000,
        "word_dict": "../data/support/word2id.txt"
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "rel_gap": 0.2,
        "high_label": 0.5,
        "use_iter": true,
        "query_per_iter": 200,
        "batch_per_iter": 10,
        "batch_size": 200,
        "relation_file": "../data/fulltext/click_train/new_PSCM.model_sorted_train_1w.relevance"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "rel_gap": 1.0,
        "high_label": 3.0,
        "batch_list": 10,
        "relation_file": "../data/fulltext/real_valid_extend/valid_qrel_1_100.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "cdssm.CDSSM",
    "filters": 200,
    "kernel_size": 3,
    "hidden_size": [100, 100, 50, 30]
  },
  "losses": [ "my_categorical_crossentropy" ],
  "metrics": [ "ndcg@10", "ndcg@3", "ndcg@5", "map" ]
}

