{
  "net_name": "DUETEM_fulltext_trainex_validex",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/duetem.weights",
      "num_epochs": 2000,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "embed_path": "../data/support/embed_query_100w_50.txt",
        "ngraph": "../data/support/ngraph_unigram.txt",
        "train_embed": true,
        "query_maxlen": 10,
        "doc_maxlen": 1000,
        "batch_size": 128
    },
    "train": {
        "input_type": "Duetem_PairGenerator",
        "phase": "TRAIN",
        "data_path": "../runtime_data/fulltext/real_train_HL_solrex",
        "rel_gap": 1.0,
        "high_label": 3.0,
        "query_per_iter": 20,
        "batch_per_iter": 10
    },
    "valid": {
        "input_type": "Duetem_ListGenerator",
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/real_valid_HL_solrex",
        "rel_gap": 0.0,
        "high_label": 0.0
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "duetem.DUETEM",
    "kernel_count": 300,
    "dropout_rate": 0.2,
    "dist_kernel_size": 3,
    "pooling_kernel_width_doc": 100
  },
  "losses": [ "cross_entropy_loss" ],
  "metrics": [ "ndcg@10", "map" ]
}

