{
  "net_name": "ARCII_fulltext_trainex_validex",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/arcii.weights",
      "num_epochs": 20000,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus_train": "../data/fulltext/real_train_extend/train_qid_seg.txt",
        "text2_corpus_train": "../data/fulltext/real_train_extend/train_fulltext_seg_filter_extend.txt",
        "text1_corpus_test":  "../data/fulltext/real_valid_extend/valid_qid_1_100.txt",
        "text2_corpus_test":  "../data/fulltext/real_valid_extend/valid_fulltext_seg_filter_extend.txt",
        "use_dpool": true,
        "embed_size": 50,
        "embed_path": "../data/support/embed_query_50.txt",
        "train_embed": true,
        "text1_maxlen": 10,
        "text2_maxlen": 100,
        "word_dict": "../data/support/word2id.txt"
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "rel_gap": 1.0,
        "high_label": 3.0,
        "use_iter": true,
        "query_per_iter": 10,
        "batch_per_iter": 1,
        "batch_size": 10,
        "relation_file": "../data/fulltext/real_train_extend/train_qrel.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "rel_gap": 1.0,
        "high_label": 3.0,
        "batch_list": 2,
        "relation_file": "../data/fulltext/real_valid_extend/valid_qrel_1_100.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "arcii.ARCII",
    "filters": 50,
    "kernel_size": 3,
    "dpool_size": [2, 2]
  },
  "losses": [ "my_categorical_crossentropy" ],
  "metrics": [ "ndcg@10", "ndcg@3", "ndcg@5", "map" ]
}

