{
  "net_name": "ARCI",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/arci.weights",
      "num_epochs": 20000,
      "num_batch": 1,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus_train": "../data/click_trainset/click_train_qid_seg.txt",
        "text2_corpus_train": "../data/click_trainset/click_train_title_seg.txt",
        "text1_corpus_test":  "../data/validset_20171018/qid_20171018.txt",
        "text2_corpus_test":  "../data/validset_20171018/uid_title_20171018.txt",
        "use_dpool": true,
        "embed_size": 200,
        "embed_path": "../data/query.in",
        "train_embed": true,
        "text1_maxlen": 10,
        "text2_maxlen": 50,
        "word_dict": "../data/word_dict.txt"
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 200,
        "relation_file": "../data/click_trainset/new_click_train_PSCM.model.qrel.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "relation_file": "../data/validset_20171018/rel_label_20171018_id_small.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "test",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.fold1.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "arci.ARCI",
    "filters": 200,
    "kernel_size": 3,
    "q_pool_size": 2,
    "d_pool_size": 2
  },
  "losses": [ "rank_hinge_loss" ],
  "metrics": [ "ndcg@10", "ndcg@3", "ndcg@5", "map" ]
}

