{
  "net_name": "CDSSM",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/cdssm.weights",
      "num_epochs": 20000,
      "num_batch": 1,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus_train": "../data/200_set/150_train/150_train_qid_seg.txt",
        "text2_corpus_train": "../data/200_set/150_train/150_train_title_seg.txt",
        "text1_corpus_test":  "../data/200_set/50_test/50_test_qid_seg.txt",
        "text2_corpus_test":  "../data/200_set/50_test/50_test_title_seg.txt",
        "use_dpool": true,
        "embed_size": 200,
        "train_embed": true,
        "embed_path": "../data/query.in",
        "text1_maxlen": 10,
        "text2_maxlen": 50,
        "word_dict": "../data/word_dict.txt"
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 200,
        "relation_file": "../data/200_set/150_train/150_train_qrel.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "relation_file": "../data/200_set/50_test/50_test_qrel.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "test",
        "relation_file": "../data/200_set/test_qrel_small.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
        "batch_list": 10,
      "save_path": "predict.test.fold1.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "cdssm.CDSSM",
    "filters": 200,
    "kernel_size": 1,
    "hidden_size": [100, 30]
  },
  "losses": [ "rank_hinge_loss" ],
  "metrics": [ "ndcg@10", "ndcg@3", "ndcg@5", "map" ]
}

