{
  "net_name": "DRMM_fulltext_trainex_validex_entropy",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/drmm.weights",
      "num_epochs": 20000,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "embed_path": "../data/support/embed_query_50.txt",
        "train_embed": true,
        "query_maxlen": 10,
        "doc_maxlen": 1000,
        "batch_size": 8,
        "hist_size": 60,
        "idf_feat": "../data/support/idf_weights.txt"
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "data_path": "../runtime_data/fulltext/real_train_HL_solrex_drmm",
        "rel_gap": 1.0,
        "high_label": 3.0,
        "query_per_iter": 20,
        "batch_per_iter": 10
    },
    "valid": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/real_valid_HL_solrex_drmm",
        "rel_gap": 0.0,
        "high_label": 0.0
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "drmm.DRMM",
    "dropout_rate": 0.5,
    "hidden_sizes_qw": [256, 256, 128, 32, 1],
    "hidden_sizes_hist": [256, 256, 128, 32, 1]
  },
  "losses": [ "cross_entropy_loss" ],
  "metrics": [ "ndcg@10", "ndcg@3", "ndcg@1", "map" ]
}
