{
  "net_name": "DRMM_fulltext_train_bm25_valid_bm25_real_test_ntcir",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/drmm.weights",
      "num_epochs": 200000,
      "num_batch": 100,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "embed_path": "../data/support/embed_query_100w_50.txt",
        "train_embed": true,
        "query_maxlen": 10,
        "doc_maxlen": 1000,
        "batch_size": 128,
        "hist_size": 200,
        "log_opiton": true
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "data_path": "../runtime_data/fulltext/bm25_train",
        "rel_gap": 1.0,
        "high_label": 3.0,
        "query_per_iter": 20,
        "batch_per_iter": 10
    },
    "valid1": {
        "input_type": "DRMM_ListGenerator",
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/bm25_valid",
        "rel_gap": 0.0,
        "high_label": 0.0
    },
    "valid2": {
        "input_type": "DRMM_ListGenerator",
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/real_valid_HL_solrex",
        "rel_gap": 0.0,
        "high_label": 0.0
    },
    "test": {
        "input_type": "DRMM_ListGenerator",
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/ntcir_test",
        "rel_gap": 0.0,
        "high_label": 0.0
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "drmm.DRMM",
    "dropout_rate": 0.5,
    "hidden_sizes_qw": [512, 256, 256, 128, 32, 10],
    "hidden_sizes_hist": [512, 256, 256, 128, 32, 1]
  },
  "losses": [ "cross_entropy_loss" ],
  "metrics": [ "ndcg@10" ]
}