{
  "net_name": "DRMM_fulltext_trainex_validex",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/drmm.weights",
      "num_epochs": 20000,
      "num_batch": 1,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus_train": "../data/fulltext/real_train/real_train_qid_seg.txt",
        "text1_corpus_test":  "../data/fulltext/real_valid_test/real_valid_test_qid_seg.txt",
        "text2_corpus_train": "../data/fulltext/real_train/real_train_fulltext_seg_filter.txt",
        "text2_corpus_test":  "../data/fulltext/real_valid_test/real_valid_test_fulltext_seg_filter.txt",
        "text2_corpus_train_solrex": "../data/fulltext/real_train/real_train_fulltext_seg_filter_solrex.txt",
        "text2_corpus_test_slorex":  "../data/fulltext/real_valid_test/real_valid_test_fulltext_seg_filter_solrex.txt",
        "use_dpool": true,
        "embed_size": 50,
        "embed_path": "../data/support/embed_query_50.txt",
        "train_embed": true,
        "hist_size": 20,
        "text1_maxlen": 10,
        "text2_maxlen": 1000,
        "word_dict": "../data/support/word2id.txt",
        "idf_feat": "../data/support/idf_weights.txt"
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "rel_gap": 0.0,
        "high_label": 0.0,
        "use_iter": true,
        "query_per_iter": 1,
        "batch_per_iter": 1,
        "batch_size": 128,
        "relation_file": "../data/fulltext/real_train/real_train_qrel.txt",
        "relation_file_solrex": "../data/fulltext/real_train/real_train_qrel_solrex.txt"
    },
    "valid": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "rel_gap": 0.0,
        "high_label": 0.0,
        "batch_list": 10,
        "relation_file": "../data/fulltext/real_valid_test/real_valid_qrel.txt",
        "relation_file_solrex": "../data/fulltext/real_valid_test/real_valid_qrel_solrex.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "drmm.DRMM",
    "hidden_sizes": [20, 5, 1]
  },
  "losses": [ "rank_hinge_loss" ],
  "metrics": [ "ndcg@10", "ndcg@3", "ndcg@1", "map" ]
}
