{
  "net_name": "DSSM_fulltext_trainex_validex_hinge",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/dssm.weights",
      "num_epochs": 20000,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus_train": "../data/fulltext/real_train/real_train_qid_seg.txt",
        "text1_corpus_test":  "../data/fulltext/real_valid_test/real_valid_test_qid_seg.txt",
        "text2_corpus_train": "../data/fulltext/real_train/real_train_fulltext_seg_filter.txt",
        "text2_corpus_test":  "../data/fulltext/real_valid_test/real_valid_test_fulltext_seg_filter.txt",
        "text2_corpus_train_solrex": "../data/fulltext/real_train/real_train_fulltext_seg_filter_solrex.txt",
        "text2_corpus_test_slorex":  "../data/fulltext/real_valid_test/real_valid_test_fulltext_seg_filter_solrex.txt",
        "word_dict": "../data/support/word2id.txt"
    },
    "train": {
        "input_type": "DSSM_PairGenerator", 
        "phase": "TRAIN",
        "rel_gap": 1.0,
        "high_label": 3.0,
        "use_iter": true,
        "query_per_iter": 5,
        "batch_per_iter": 1,
        "batch_size": 128,
        "relation_file": "../data/fulltext/real_train/real_train_qrel.txt",
        "relation_file_solrex": "../data/fulltext/real_train/real_train_qrel_solrex.txt"
    },
    "valid": {
        "input_type": "DSSM_ListGenerator",
        "phase": "EVAL",
        "rel_gap": 0.0,
        "high_label": 0.0,
        "batch_list": 10,
        "relation_file": "../data/fulltext/real_valid_test/real_valid_qrel.txt",
        "relation_file_solrex": "../data/fulltext/real_valid_test/real_valid_qrel_solrex.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "dssm.DSSM",
    "hidden_sizes": [512, 256, 256, 128, 32, 8]
  },
  "losses": [ "rank_hinge_loss" ],
  "metrics": [ "ndcg@10", "ndcg@3", "ndcg@5", "map" ]
}

