{
  "net_name": "DSSM_fulltext_trainex_validex_entropy",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/dssm.weights",
      "num_epochs": 20000,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "ngraph": "../data/support/ngraph_idf.txt",
        "query_maxlen": 10,
        "doc_maxlen": 1000,
        "batch_size": 8
    },
    "train": {
        "input_type": "DSSM_PairGenerator", 
        "phase": "TRAIN",
        "data_path": "../runtime_data/fulltext/real_train_HL_solrex",
        "rel_gap": 1.0,
        "high_label": 3.0,
        "query_per_iter": 20,
        "batch_per_iter": 10
    },
    "valid": {
        "input_type": "DSSM_ListGenerator",
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/real_valid_HL_solrex",
        "rel_gap": 0.0,
        "high_label": 0.0
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "dssm.DSSM",
    "hidden_sizes": [256, 128]
  },
  "losses": [ "cross_entropy_loss" ],
  "metrics": [ "ndcg@10", "ndcg@3", "ndcg@5", "map" ]
}

