{
  "net_name": "MP_fulltext_train_bm25_valid_bm25_test_ntcir_100_30",
  "global":{
      "model_type": "PY",
      "weights_file": "../saved_model/MP/MP_fulltext_train_bm25_valid_bm25_test_ntcir_100_30.weights",
      "num_epochs": 20000,
      "num_batch": 100,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "embed_path": "../data/support/embed_query_100w_50.txt",
        "train_embed": true,
        "query_maxlen": 10,
        "doc_maxlen": 1000,
        "batch_size": 128
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "data_path": "../runtime_data/fulltext/bm25_train",
        "rel_gap": 0.0,
        "high_label": 0.0,
        "query_per_iter": 20,
        "batch_per_iter": 10
    },
    "valid": {
        "input_type": "ListGenerator",
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/bm25_valid",
        "rel_gap": 0.0,
        "high_label": 0.0
    },
    "test100": {
        "input_type": "ListGenerator",
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/ntcir_test_top100",
        "rel_gap": 0.0,
        "high_label": 0.0
    },
    "test30": {
        "input_type": "ListGenerator",
        "phase": "EVAL",
        "data_path": "../runtime_data/fulltext/ntcir_test_top30",
        "rel_gap": 0.0,
        "high_label": 0.0
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "matchpyramid.MatchPyramid",
    "kernel_count": 256,
    "kernel_size": [3, 3],
    "dropout_rate": 0.5,
    "dpool_size": [3, 3],
    "hidden_sizes": [256, 128, 128, 32, 1]
  },
  "losses": [ "cross_entropy_loss" ],
  "metrics": ["ndcg@1", "ndcg@3", "ndcg@10", "ndcg@20", "map"]
}